
.header {
    width: 100%;
    height: 4rem;
    background-color: $black;
    position: relative;

    .navbar{
        padding-left: 2rem;
        padding-top: 0.5rem;
        position: absolute;

        .navlink{
            font-size: 1.3rem;
            color: $white;
            text-decoration: none;
            padding: 1.1rem;
            transition: all 0.1s;

            &:hover{
                background-color: $black-dark;
                color: $yellow;
            }
        }
    }

    .head-icons{
        position: absolute;
        left: 44%;
        
        .icon{
            @include head-rule-1(1.7rem,$white,$yellow,1.2rem 0.4rem);
        }
    }

    .language{
        position: absolute;
        right: 10%;
        top: 0.6rem;

        .lang{
            @include head-rule-1(1.3rem,$white,$yellow,1.2rem 0.4rem);
        }        
    }

    .contact{
        position: absolute;
        right: 3%;
        top: 0.6rem;

        .contact-link{
            @include head-rule-1(1.7rem,$white,$black,1.2rem 1.2rem);
            &:hover{
                background-color: $yellow;
            }
        }
    }
}