
.main {
    width: 100%;
    height: 200rem;
    background-color: $white;

    &__section-1{
        height: 35rem;
        background-color: $yellow;
        position: relative;
        clip-path: polygon(0 0,100% 0, 100% 55%, 0 100%);
        z-index: 1;
    }

    &__section-2{
        height: 60rem;
        background-color: $black;
        position: relative;
        top: -30rem;
        z-index: 0;
    }
}