*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #353535;
  box-sizing: border-box; }

.header {
  width: 100%;
  height: 4rem;
  background-color: #353535;
  position: relative; }
  .header .navbar {
    padding-left: 2rem;
    padding-top: 0.5rem;
    position: absolute; }
    .header .navbar .navlink {
      font-size: 1.3rem;
      color: #ffffff;
      text-decoration: none;
      padding: 1.1rem;
      transition: all 0.1s; }
      .header .navbar .navlink:hover {
        background-color: #252525;
        color: #E3FF00; }
  .header .head-icons {
    position: absolute;
    left: 44%; }
    .header .head-icons .icon {
      font-size: 1.7rem;
      color: #ffffff;
      padding: 1.2rem 0.4rem;
      transition: all 0.3s;
      text-decoration: none; }
      .header .head-icons .icon:hover {
        color: #E3FF00;
        cursor: pointer; }
  .header .language {
    position: absolute;
    right: 10%;
    top: 0.6rem; }
    .header .language .lang {
      font-size: 1.3rem;
      color: #ffffff;
      padding: 1.2rem 0.4rem;
      transition: all 0.3s;
      text-decoration: none; }
      .header .language .lang:hover {
        color: #E3FF00;
        cursor: pointer; }
  .header .contact {
    position: absolute;
    right: 3%;
    top: 0.6rem; }
    .header .contact .contact-link {
      font-size: 1.7rem;
      color: #ffffff;
      padding: 1.2rem 1.2rem;
      transition: all 0.3s;
      text-decoration: none; }
      .header .contact .contact-link:hover {
        color: #353535;
        cursor: pointer; }
      .header .contact .contact-link:hover {
        background-color: #E3FF00; }

.main {
  width: 100%;
  height: 200rem;
  background-color: #ffffff; }
  .main__section-1 {
    height: 35rem;
    background-color: #E3FF00;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
    z-index: 1; }
  .main__section-2 {
    height: 60rem;
    background-color: #353535;
    position: relative;
    top: -30rem;
    z-index: 0; }
