
@mixin head-rule-1($size,$color,$back-color,$padding){
    font-size: $size;
    color: $color;
    padding: $padding;
    transition: all 0.3s;
    text-decoration: none;

        &:hover{
            color: $back-color;
            cursor: pointer;
        }
}